@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center alert alert-dark">
    <h1 class="display-4">Leave Management System - SOLID and Clean Architecture</h1>
</div>
<div data-purpose="safely-set-inner-html:description:description">
    <p>
        <strong>Overview</strong>
    </p>
    <p>Creating a <strong>modular</strong>, <strong>testable</strong> and <strong>maintainable</strong> application in .<strong>NET</strong></p>
</div>